body {
    background-color: #1e2126;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
}

.cbl {
    background-color: rgba(5, 5, 5, 0.377); 
}